<%= javascript_tag do %>
    var lasttarget = "undefined";

    function handleThumbnailClick(image, source) {
        // reset style of last selected
        if(lasttarget != "undefined") { lasttarget.style.border = "none"; }

        // set last selected
        lasttarget = image;

        // set image path to @project.banner_url
        $('#project_banner_url').val(source);

        // change border
        image.style.border = "solid #004C8E";
    };

<% end %>

<%= semantic_form_for @project do |f| %>
  <%= f.inputs  do%>
        <%= f.input :name, :label => 'Name' %>
        <%= f.input :location, :label => 'Ort' %>
        <%= f.input :date_from, :label => 'Startdatum'%>
        <%= f.input :date_to, :label => 'Enddatum'%>
        <%= f.input :description, :label => 'Beschreibung'%>
        <%= f.input :max_users, :label => 'Anzahl der Teilnehmer'%>
        <%= f.input :category, :label => 'Kategorie'%>
        <%= f.input :banner_url, :html => {:id => "bannerUrlInput"}, :as => :hidden %>

        <span class="form-label"><label for="project_banner" class=" control-label">Bild zum Projekt</label></span>
        <div class="panel panel-default">
          <div class="panel-body" id="thumbnailpanel">
            <div class="row">
              <div class="col-sm-3 col-md-3">
                <a class="thumbnail">
                  <img src="/assets/image15.jpg" alt="Image" height="200em" width="200em" onclick="handleThumbnailClick(this, 'banners/image15.jpg')">
                </a>
                <a class="thumbnail">
                  <img src="/assets/image2.jpg" alt="Image"  height="200em" width="200em" onclick="handleThumbnailClick(this, 'banners/image2.jpg')">
                </a>
                <a class="thumbnail">
                  <img src="/assets/image3.jpg" alt="Image" height="200em" width="200em" onclick="handleThumbnailClick(this, 'banners/image3.jpg')">
                </a>
              </div>
              <div class="col-sm-3 col-md-3">
                <a class="thumbnail">
                  <img src="/assets/image4.jpg" alt="Image" height="200em" width="200em" onclick="handleThumbnailClick(this, 'banners/image4.jpg')">
                </a>
                <a class="thumbnail">
                  <img src="/assets/image5.jpg" alt="Image" height="200em" width="200em" onclick="handleThumbnailClick(this, 'banners/image5.jpg')">
                </a>
                <a class="thumbnail">
                  <img src="/assets/image6.jpg" alt="Image" height="200em" width="200em" onclick="handleThumbnailClick(this, 'banners/image6.jpg')">
                </a>
              </div>
              <div class="col-sm-3 col-md-3">
                <a class="thumbnail">
                  <img src="/assets/image7.jpg" alt="Image" height="200em" width="200em" onclick="handleThumbnailClick(this, 'banners/image7.jpg')">
                </a>
                <a class="thumbnail">
                  <img src="/assets/image8.jpg" alt="Image" height="200em" width="200em" onclick="handleThumbnailClick(this, 'banners/image8.jpg')">
                </a>
                <a class="thumbnail">
                  <img src="/assets/image9.jpg" alt="Image" height="200em" width="200em" onclick="handleThumbnailClick(this, 'banners/image9.jpg')">
                </a>
              </div>
              <div class="col-sm-3 col-md-3">
                <a class="thumbnail">
                  <img src="/assets/image10.jpg" alt="Image" height="200em" width="200em" onclick="handleThumbnailClick(this, 'banners/image10.jpg')">
                </a>
                <a class="thumbnail">
                  <img src="/assets/image11.jpg" alt="Image" height="200em" width="200em" onclick="handleThumbnailClick(this, 'banners/image11.jpg')">
                </a>
                <a class="thumbnail">
                  <img src="/assets/image12.jpg" alt="Image" height="200em" width="200em" onclick="handleThumbnailClick(this, 'banners/image12.jpg')">
                </a>
              </div>

            </div>
          </div>
        </div>

  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
