<% content_for :head do %>

    <!-- Include Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry"></script>

    <script>
        // wait for document to be ready
        $(document).ready(function () {

            // init global vars
            var map;
            var minVal = "0";
            var zoomlevels = [15, 14, 10, 9, 8];
            var kmdisplay = [5, 10, 25, 50, 100];
            var initialzoom = zoomlevels[minVal];
            var markerHome;
            var iconBaseProjects = 'http://maps.google.com/mapfiles/kml/paddle/';
            var geocoder;
            var latlng;
            var initialLatLng = new google.maps.LatLng(60, 105);

            function initialize() {

                // init Geocoder: Translates Location 2 LatLng
                geocoder = new google.maps.Geocoder();

                // init Map
                var mapCanvas = document.getElementById('map-canvas');
                var mapOptions = {
                    //center: new google.maps.LatLng(48.153858, 11.557649),
                    zoom: initialzoom,
                    zoomControl: false,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                map = new google.maps.Map(mapCanvas, mapOptions);

                // get location HTML5
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        latlng = new google.maps.LatLng(position.coords.latitude,
                                position.coords.longitude);

                        geocoder.geocode({'location': latlng}, function (results, status) {
                            $('#locationinput').val(results[1].formatted_address);
                        });

                        // set home marker
                        setHomeMarker();

                    }, function () {
                        handleNoGeolocation(true);
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleNoGeolocation(false);
                }

                // set project markers into map
                setMarkers();
            }

            // what if any error in getting the location occurs
            function handleNoGeolocation(errorFlag) {
                if (errorFlag) {
                    var content = 'Error: Ortungsfunktion fehlgeschlegen. Bitte Standort manuell eingeben.';
                } else {
                    var content = 'Error: Ihr Browser unterstützt keine Ortungsfunktion. Bitte Standort manuell eingeben.';
                }

                var options = {
                    map: map,
                    position: initialLatLng,
                    content: content
                };

                var infowindow = new google.maps.InfoWindow(options);
                map.setCenter(options.position);

            }

            // function to set project markers
            function setMarkers() {

                var markerP1 = new google.maps.Marker({
                    position: new google.maps.LatLng(48.152942, 11.548835),
                    map: map,
                    icon: iconBaseProjects + 'ylw-circle-lv.png'
                });

                // alert(calcDistance(markerP1.getPosition(), initialLatLng));

                var P1IW = "Projekt1: DHZ München";
                var infowindowP1 = new google.maps.InfoWindow({
                    content: P1IW
                });
                google.maps.event.addListener(markerP1, 'click', function () {
                    infowindowP1.open(map, markerP1);
                });

                var markerP2 = new google.maps.Marker({
                    position: new google.maps.LatLng(48.154681, 11.557418),
                    map: map,
                    icon: iconBaseProjects + 'ylw-circle-lv.png'
                });
                var P2IW = "Projekt 2: Kindergarten";
                var infowindowP2 = new google.maps.InfoWindow({
                    content: P2IW
                });
                google.maps.event.addListener(markerP2, 'click', function () {
                    infowindowP2.open(map, markerP2);
                });

            }

            // function that calculates the distance between two LatLng
            function calcDistance(fromLatLng, toLatLng) {
                return (google.maps.geometry.spherical.computeDistanceBetween(fromLatLng, toLatLng) / 1000).toFixed(2);
            }

            google.maps.event.addDomListener(window, 'load', initialize);


            // what happens when "enter" in location input field
            $("#locationinput").bind("enterKey", function (e) {

                //get value from location input
                geocoder.geocode({'address': $("#locationinput").val()}, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        latlng = new google.maps.LatLng(results[0].geometry.location.lat(),
                                results[0].geometry.location.lng());
                        // set home marker
                        setHomeMarker();
                        // location not found
                    } else {
                        alert("Die Eingabe \'" + $("#locationinput").val() + "\' liefert kein Ergebnis! \n Fehlercode: " + status);
                    }
                });
            });
            //keyup enter for location input
            $("#locationinput").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");
                }
            });

            // function that returns the current location HTML5
            function getCurrentLocation() {
                navigator.geolocation.getCurrentPosition(function (position) {
                    latlng = new google.maps.LatLng(position.coords.latitude,
                            position.coords.longitude);

                    geocoder.geocode({'location': latlng}, function (results, status) {
                        $('#locationinput').val(results[1].formatted_address);
                    });
                    // set home marker
                    setHomeMarker();

                });
            }

            // function that sets the home marker
            function setHomeMarker() {

                if (markerHome != undefined) {
                    markerHome.setMap(null);
                }

                markerHome = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    icon: iconBaseProjects + 'red-circle-lv.png'
                });

                map.setCenter(latlng);
                $("#slider-1").slider('value', minVal);
                $("#km").text(kmdisplay[minVal]);
                map.setZoom(initialzoom);

            }

            // click on the location icon
            $(document).on('click', '#getlocation', function () {
                getCurrentLocation();
            });

            // slider for location
            $("#slider-1").slider({
                        range: "min",
                        min: 0,
                        max: zoomlevels.length - 1,
                        value: minVal,
                        // set map zoom when slider stops
                        stop: function (event, ui) {
                            map.setZoom(zoomlevels[ui.value]);
                        },
                        // place value
                        slide: function (event, ui) {
                            if (ui.value < minVal)
                                return false;
                            $("#km").text(kmdisplay[ui.value]);
                        }
                    }
            );
            // place value
            $("#km").text(kmdisplay[minVal]);

            /*google.maps.event.addListener(map, 'zoom_changed', function() {
             //zoomLevel = map.getZoom();
             // Change slider when Zoom changes on Map
             });*/

            // double slider for score points
            $("#slider-2").slider({
                range: true,
                min: 0,
                max: 1000,
                step: 50,
                values: [50, 1000],
                slide: function (event, ui) {
                    if (ui.values[0] < 50)
                        return false;
                    $("#SP1").text(ui.values[0]);
                    $("#SP2").text(ui.values[1]);
                }
            });
            // place slider text
            $("#SP1").text($("#slider-2").slider("values", 0));
            $("#SP2").text($("#slider-2").slider("values", 1));

            // datepickers
            $("#datepicker1").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd.mm.yy"
            });
            $("#datepicker2").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd.mm.yy"
            });

            // Pressing the Enter key in TagInputField
            $("#taginput").bind("enterKey", function (e) {
                // add tag under input field
                $("#taglabels").append("<span class='label taglabel'>" + $("#taginput").val() + "<span class='removespan'>x</span></span> ");
                $("#taginput").val("")
            });
            $("#taginput").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");
                }
            });

            // click on datepicker icon
            $(document).on('click', '#datepicker1click', function () {
                $("#datepicker1").datepicker("show");
            });
            $(document).on('click', '#datepicker2click', function () {
                $("#datepicker2").datepicker("show");
            });

            // function to remove tags from search
            $(document).on('click', '.removespan', function () {
                $(this).parent().remove();
            });


        });
    </script>

<% end %>
<% content_for :navitems do%>
    <li> <a href="#static">Projekte entdecken </a></li>
    <li><a href="#top-projects">Top Projekte</a></li>
    <li><a href="#top-users">Top Helfer</a></li>
<% end %>

<div id="video" class="row">
  <div class="col-md-12">
      <video width="100%" height="300" autoplay muted poster="assets/communcity-explainer-poster.jpg">
        <source src="assets/communcity-explainer.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
  </div>
</div>


<div id="static" class="row">
    <h2>Projekte entdecken</h2>
  <div class="col-md-3 col-xs-3 border1pxsolidgrey staticheight">
      <!-- Filter -->
      <!--<div class="floatleft border1pxsolidgrey widthout staticheight">-->
        <div id="filters">
          <!--MyLocation-->
          <div class="input-group input-group-sm" id="location">
        <span class="input-group-addon clickimage" id="locationclick">
          <span id="getlocation" class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>

        </span>
            <input id="locationinput" type="text" class="form-control" placeholder="Mein Standort" aria-describedby="sizing-addon3">
          </div>

          <div id="slider-1" class="slider"></div>
          Umkreis:
          <div id="km"></div>
          km

          <!--Tags-->
          <div class="input-group input-group-sm" id="tags">
        <span class="input-group-addon" id="addtagclick">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>

        </span>
            <input id="taginput" type="text" class="form-control" placeholder="Tags" aria-describedby="sizing-addon3">
          </div>

          <div id="taglabels">
          </div>


          <!--Datepickers-->
          <div id="DateRange">

            <div class="input-group input-group-sm">
        <span class="input-group-addon clickimage" id="datepicker1click">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>

        </span>
              <input type="text" class="form-control" placeholder="Von" aria-describedby="sizing-addon3" id="datepicker1">
            </div>

            <div class="input-group input-group-sm">
        <span class="input-group-addon clickimage" id="datepicker2click">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>

        </span>
              <input type="text" class="form-control" placeholder="Bis" aria-describedby="sizing-addon3" id="datepicker2">
            </div>

          </div>

          <!--ScoreSlider-->
          <div id="SPSlider">
            ScorePoints:
            <div id="SP1" class="SP"></div>
            -
            <div id="SP2" class="SP"></div>
            <div id="slider-2" class="slider"></div>
          </div>
        </div>

        <!--Legend for projects an location-->

        <div id="legend">

          <div class="legendItem"><%= image_tag "red-circle-lv.png" %> Mein Standort</div>
          <div class="legendItem"><%= image_tag "ylw-circle-lv.png" %> Projekte
            <span class="badge"><%= Project.count(:id) %></span></div>

        </div>


  </div>

  <!-- Map -->
<div class="col-md-6 col-xs-6 staticheight" id="map-canvas"></div>
  <!--<div class="floatleft widthin staticheight" id="map-canvas"></div>-->

  <!-- Projects -->
  <div class="col-md-3 col-xs-3 border1pxsolidgrey staticheight">
  <!--<div class="floatleft border1pxsolidgrey widthout staticheight">-->

    <div class="listProject">
      <div class="bold">Projekt 1: Kindergarten</div>
      <div class="italic">Mit Kindern im Kindergarten spielen.</div>
      <div class="scorePoints">ScorePoints: <%= Project.where(id: 2).pluck(:score) %></div>
      <%= link_to "weitere Infos", project_path(2) %>
    </div>

    <div class="listProject">
      <div class="bold">Projekt 2: DHZ München</div>
      <div class="italic">Spielenachmittag mit herzkranken Menschen.</div>
      <div class="scorePoints">ScorePoints: <%= Project.where(id: 1).pluck(:score) %></div>
      <%= link_to "weitere Infos", project_path(1) %>
    </div>

  </div>

</div>

<div class="clearfix"></div>


<hr>
<div id="top-projects">
  <h2>Top Projekte</h2>
    <%= render partial: "project_carousel", locals: {projects: @top_projects} %>
</div>
<hr>
<div id="top-users">
  <h2>Top Helfer</h2>
  <ul class="list-inline">
    <%= render partial: "projects/user", collection: @top_users %>
  </ul>
</div>
<% unless signed_in?%>
<hr>
<div id="signup-large">
  <div class="row">
    <div class="jumbotron">
      <h1>Mach den ersten Schritt zum besseren Menschen!</h1>
      <p>Werde Teil bei Communcity und nimm an verantwortungsvollen Projekten mit anderen interessanten Ehrenamtlichen teil.</p>
      <p><%= link_to "Jetzt Mitmachen!", new_user_registration_path, class:["btn","btn-success", "btn-gigantic"] %></p>
    </div>

  </div>
 <% end%>
</div>



