<div  id="footer">
<div class="floatleft">
<%= link_to "AGB", static_agb_path %> | <%= link_to "Impressum", static_impressum_path %> | <%= link_to "Kontakt", static_contact_path %>
    </div>

<div class="floatright">
  <%= link_to image_tag("donate.jpg", height: "20"), "#"%>
  <%= link_to image_tag("facebook-icon.png", size: "16x16", alt: "Link to Facebook"), "http://www.facebook.com", target: "_blank" %>

</div>

<div class="clear"></div>

</div>